<mat-toolbar color="primary">
    <div>
        <a routerLink="/home">Controle financeiro</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/summmary">Resumo</a>
            </li>
            <li>
                <a routerLink="/setup">Configurações</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
  </mat-toolbar>